/************************************************
    General Styles
************************************************/

* {
    font-family: Arial, Helvetica, sans-serif;
    background: inherit;
    color: inherit;
}

/* html {
    overflow-y: hidden;
} */

body {
    margin: 0px;
    overflow: overlay;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #ffffff20;
    opacity: .2;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #00000040;
    border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.mainPage {
    margin: 2px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Tooltip container */
.tooltip {
    position: relative;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 150%;
    background-color: lightyellow;
    color: rgb(25, 24, 87);
    text-align: center;
    padding: 10px;
    margin-left: 30px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.clickable {
    cursor: pointer;
}

/************************************************
    DivTable
************************************************/
.divTable {
    display: table;         
    width: auto;         
  }
  .divTableRow {
    display: table-row;
    width: auto;
    clear: both;
  }
  .divTableCol {
    float: left; /* fix for  buggy browsers */
    display: table-column;          
  }

  /* Just for div where we want horizontal growth */
.divRow {
    display: flex;
    flex-wrap: nowrap;
}



/************************************************
  Fungible page
************************************************/

.FungiblePage {
    background: lightblue;
}

.FungiblePage .dragArea {
    width: 1;
    height: 1;
    left: 100px;
    top: 20px;
    background: white;
    z-index: 1;
    opacity: .5;
    position:fixed;
}

.settingsIcon {
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px;
}

.closeButton {
    position: absolute;
    z-index: 1;
    width: 10px;
    height: 10px; 
    right: 15px;
}

.pageSettingsControl {
    position: absolute;
    z-index: 2;
    padding: 10px;

    background: rgb(255, 255, 255);
    width: 320px;
    height: 100px;
    right: 40px;
    top: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 25px #00000080;
}

/************************************************
  WidgetFrame
************************************************/

.widgetFrame {
    height: 100%;
    display: flow-root;
}

.widgetFrame .Interior {
    margin: 1px;
    border: 1px solid gray;
}

.widgetFrame .Filler {
    bottom:0;
    top:0;
    left:0;
    right:0;
    display: block;
    position: absolute;
    overflow:hidden;
}

.widgetFrame .ChildBorder
{
    margin: 5px;
    overflow:hidden;
}

.widgetFrame .DragHandle {
    background: #00000022;
    display:flex; 
    position:absolute; 
    top:0; 
    z-index: 1;
    height: 7px;
    width: 100%;
}
.widgetFrame .DragHandle:hover {
    cursor:move;
}

.widgetFrame .ConfigButton {
    background:  #00000012;
    display:flex; 
    position:absolute; 
    top:0; 
    right: 0;
    z-index: 1;
    margin-top: -10px;
}
.widgetFrame .ConfigButton:hover {
    cursor:pointer;
}

.widgetFrame .ConfigSection {
    background:  white;
    margin-top: 10px;
}


.widgetFrameResizeHandle {
    background: #00000000;
    display:flex; 
    position:absolute; 
    right:0;
    bottom:0;
    margin-bottom: -3px;
    margin-right: -2px;
    font-size:12px;
    opacity: .5;
}

.widgetFrameResizeHandle:hover {
    cursor:nwse-resize;
}

/* .wordClassText:hover {
    transform: rotate(0deg);
} */
