
.widgetFrame {
    height: 100%
}

.stockRowFrame {
    font-size: 80%;
    height: 28px;
    padding: 2px;
}
.stockRowContents {
    height: 100%;
}

.stockNameBox {
    height: 100%;
    border: 1px solid gray;
}
.stockName {
    font-weight: 800;
    width: 60px;
    text-align: center;
    margin: 2px;
}
.stockName:hover {
    cursor: pointer;
}

.stockValueBox {
    width: 20%;

}
.stockPrice {
    font-size: 90%;
    font-weight: 700;
    text-align: center;
}   
.highLowValue {
    font-size: 60%;
    text-align: left;
}  

.stockGraphBox {
    width: 75%;
    height: 100%;
    border: 1px solid gray;
}
.stockGraph {
    width: 100%;
    height: 100%;  
    background:#ffffff80;
}
.stockButtonBox {
    width: 5%
}
.stockButtonBox:hover {
    cursor: pointer;
}
